<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520169330800-itc1pokmivj3btuavu4gngatlminp18h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520169330800-itc1pokmivj3btuavu4gngatlminp18h</string>
	<key>API_KEY</key>
	<string>AIzaSyCXv4Ioj4iiqlHE8AhVHpqNZSndaXMn1qw</string>
	<key>GCM_SENDER_ID</key>
	<string>520169330800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>firbase-434e1</string>
	<key>STORAGE_BUCKET</key>
	<string>firbase-434e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520169330800:ios:fa59fa4de9e6212f0cfcb5</string>
</dict>
</plist>